{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>{{ madlib.number }} years after the end of Rush, James Carter is no longer a {{ madlib.occupation }}, but a
             thug on the streets of {{ madlib.place }}. Lee is now the bodyguard for his friend {{ madlib.person }}.
             Lee is still upset with Carter about the incident where Carter accidentally shot Lee's girlfriend, Isabella
             Molina, in the {{ madlib.body_part }}</p>
        <p>During the World Criminal Court discussions, {{ madlib.person }} addresses the importance to fight the Triad,
         he announces that he knows the {{ madlib.adjective }} of the Triad leadership known as the Shy Shen. Suddenly,
         {{ madlib.person }} takes a/an {{ madlib.noun }} in the arm, disrupting the conference. Lee pursues the assassin
         and corners him, discovering that the assassin is his brother, {{ madlib.celebrity }}. When Lee hesitates to
         shoot {{ madlib.celebrity }}, Carter shows up {{ madlib.verb_end_ing }} towards the two and {{ madlib.adverb }}
         {{ madlib.verb_end_s }} Lee over, allowing {{ madlib.celebrity }} to escape.</p>
    {% endblock %}
</body>
</html>