{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>The president of {{ madlib.place }} is elected every {{ madlib.amount_of_time }} by a group of people called
         the {{ madlib.adjective }} College. Each {{ madlib.noun }} casts votes in a preliminary hearing called a/an
         egg. Throughout the campaign, the candidates participate in {{ madlib.noun_plural }}. Many people try to
         {{ madlib.verb }} the outcome using polls and statistics. In the end, only one person is selected to
         rule the country as {{ madlib.occupation }} in Chief.</p>
    {% endblock %}
</body>
</html>