{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>On {{ madlib.month }} {{ madlib.number }} every year, we celebrate {{ madlib.holiday }}. All the {{ madlib.noun_plural }}
         get {{ madlib.verb_end_ed }} up and {{ madlib.verb }} all over the {{ madlib.noun }}. Many people love to eat
         their favorite food to their {{ madlib.occupation }} dismay.</p>
    {% endblock %}
</body>
</html>