{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>"Without doubt {{ madlib.company }} has left its {{ madlib.noun }} with us as some of the most
             {{ madlib.adjective }} {{ madlib.noun_plural }}... This {{ madlib.noun_plural }} that we highly recommend
             for {{ madlib.noun_end_ers }} and high-end {{ madlib.noun }}."</p>

    {% endblock %}
</body>
</html>