{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>In {{ madlib.girl_name }}: {{ madlib.noun }} <i>of Time</i> you play {{ madlib.boy_name }}, a young boy
         who has no shot. In this adventure, he {{ madlib.verb_end_s }} with his trusty speed-square and many other
         {{ madlib.noun_plural }} from his inventory. He travels time working with {{ madlib.animal_plural }} to
             {{ madlib.verb }} the {{ madlib.adjective }} cat and the annoying {{ madlib.girl_name }}, the princess.</p>
    {% endblock %}
</body>
</html>