{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>The {{ madlib.adjective }} {{ madlib.occupation }} {{ madlib.animal_plural }} are 4 {{ madlib.animal_plural }}
         who are lead by a/an {{ madlib.animal }} in the fight against {{ noun }}. They strive to protect
             {{ madlib.noun_plural }} from all violence, but their most devious enemy is the dreaded
             {{ madlib.kitchen_appliance }}. They also love to {{ madlib.verb }} Pizza! {{ madlib.silly_word }}, dude!</p>
    {% endblock %}
</body>
</html>