{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>Come on over to {{ madlib.person }}'s Pizza Parlor where you can enjoy your favorite
             {{ madlib.adjective }}-dish pizzas. You can try our famous {{ madlib.noun }}-lovers pizza, or select
         from our list of toppings, including sauteed {{ madlib.food_plural }}, {{ madlib.noun_plural }}, and many
         more. Our crusts are hand-{{ madlib.verb_end_ed }} and basted with {{ madlib.liquid }} to make them seem
         more home-made.</p>
    {% endblock %}
</body>
</html>