{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>1. You shall not {{ madlib.verb }} and other {{ madlib.noun }}</p>
        <p>2. You shall not make a {{ madlib.adjective }} image.</p>
        <p>3. You shall not take the name of {{ madlib.government_position }} in vain.</p>
        <p>4. You shall not break the {{ madlib.holiday }}.</p>
        <p>5. You shall not dishonor your {{ madlib.occupation }}.</p>
        <p>6. You shall not {{ madlib.verb_end_ed }}.</p>
        <p>7. You shall not commit {{ madlib.crime }}.</p>
        <p>8. You shall not {{ madlib.verb_end_s }}.</p>
        <p>9. You shall not bear {{ madlib.silly_word }} witness against they {{ madlib.noun_end_ers }}.</p>
        <p>10. You shall not covet they neighbor's {{ madlib.noun_plural }}.</p>
    {% endblock %}
</body>
</html>