{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>J.R.R. Tolkien has been thrust into the {{ madlib.fruit }}-light yet again with the release of his
         famous <i>Lord of the {{ madlib.noun_plural }}</i> as a {{ madlib.noun }} series. The three books,
         <i>{{ madlib.noun_end_ers }} of the Ring</i>, <i>The Two {{ madlib.animal_plural }}</i>, and <i>Return of the
             {{ madlib.crime }}</i>, are preceded by another book <i>The {{ madlib.silly_word }}</i>, which may also
         be filmed later on.</p>
    {% endblock %}
</body>
</html>