{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>Yesterday, me and {{ madlib.number }} of my friends took a trip to the mall. While we were there we saw
         this really {{ madlib.adjective }} store called {{ madlib.girl_name }}'s Pets. We saw {{ madlib.animal_plural }}
         and {{ madlib.noun_plural }} {{ madlib.verb_end_ing }} in the store display. So we had to go inside. They had
         a miniature {{ madlib.noun }} and {{ madlib.fruit }} bunnies. We even got to play with the {{ madlib.crime }}
         {{ madlib.animal }} in the {{ madlib.illness }} {{ madlib.kitchen_appliance }}. I want a/an
         {{ madlib.food_plural }} so much!</p>
    {% endblock %}
</body>
</html>