{% extends 'Madlibs/base.html' %}
{% block body %}
    <div>
        <a href="{% url 'Madlibs:madlib_a' %}" class="nav-item nav-link">Camp</a>
        <a href="{% url 'Madlibs:madlib_b' %}" class="nav-item nav-link">Love Letter</a>
        <a href="{% url 'Madlibs:madlib_c' %}" class="nav-item nav-link">Rush</a>
        <a href="{% url 'Madlibs:madlib_d' %}" class="nav-item nav-link">Sick Note</a>
        <a href="{% url 'Madlibs:madlib_e' %}" class="nav-item nav-link">Elector</a>
        <a href="{% url 'Madlibs:madlib_f' %}" class="nav-item nav-link">Holiday</a>
        <a href="{% url 'Madlibs:madlib_g' %}" class="nav-item nav-link">Memo</a>
        <a href="{% url 'Madlibs:madlib_h' %}" class="nav-item nav-link">Video Game</a>
        <a href="{% url 'Madlibs:madlib_i' %}" class="nav-item nav-link">Super Heroes</a>
        <a href="{% url 'Madlibs:madlib_j' %}" class="nav-item nav-link">Pizza Ad</a>
        <a href="{% url 'Madlibs:madlib_k' %}" class="nav-item nav-link">Ten Commandments</a>
        <a href="{% url 'Madlibs:madlib_l' %}" class="nav-item nav-link">Tolkien</a>
        <a href="{% url 'Madlibs:madlib_m' %}" class="nav-item nav-link">The Mall</a>
        <a href="{% url 'Madlibs:madlib_n' %}" class="nav-item nav-link">Porter</a>
        <a href="{% url 'Madlibs:madlib_o' %}" class="nav-item nav-link">Important Thoughts</a>
    </div>
{% endblock %}