{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>On his 11th birthday, young {{ madlib.boy_name }} Porter discovers the {{ madlib.noun }} he never knew
         he had, the {{ madlib.noun }} of a/an {{ madlib.occupation }}. In the first {{ madlib.measurement }} at
         Hogwards School of Witchcraft and {{ madlib.noun_end_ers }}, he meets his two {{ madlib.adjective }} friends
         Ron Weaslebottom, an expert at Wizard {{ madlib.game }}, and Hermione Grager, a girl with {{ madlib.silly_word }}
         parents. {{ madlib.boy_name }} learns the game of Quiditch and Wizard {{ madlib.game }} on his way to
         facing a Dark {{ madlib.kitchen_appliance }} teacher who is bent on {{ madlib.verb_end_ing }} him.</p>
    {% endblock %}
</body>
</html>