{% extends 'Madlibs/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% block body %}
        <p>- {{ madlib.verb }} {{ madlib.adverb }} without being {{ madlib.adjective }}.</p>
        <p>- The Universe does not have {{ madlib.noun_plural }} -- it has {{ madlib.silly_word }}, and {{ madlib.silly_word }}
         can be {{ madlib.verb_end_s }}.</p>
        <p>- The {{ madlib.verb_end_ing }} of random {{ madlib.occupation }} is too important to be left to chance.</p>
        <p>- You can build {{ madlib.noun }} with {{ madlib.weapon_plural }}, but you can't sit on it for long.</p>
    {% endblock %}
</body>
</html>